body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  #container{
    color: tomato;
  }
  .digit{
    font-size: 100px;
    font-weight: bold;
  }
  .text{
    font-size: 40px;
    font-weight: bold;
  }
  #button-container{
    text-align: center;
    margin-top: 40px;
  }
  .button{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
  }
  #Start{
    background-color: green;
  }
  #Pause{
    background-color: yellowgreen;
  }
  #Stop{
    background-color: red;
  }